*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --test-color:#fff;
    --color:rgb(233, 20, 215);}

body {
    background-color:rgb(71, 73, 72)
}
section {
    min height: 100vh;
    padding: 16rem 9% 2rem;
}
.container{
    max-width: 1250px;
    width: 100%;
    margin:0 auto;}
    header{
        position: fixed;
        top:0;
        left: 0;
        height: 90px;
        width: 100%;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        z-index: 1;
a{
    text-decoration: none;
    font-size: 31px;
    font-weight: 550;
    color: white;
    span{
        color:var(--color);
    }
}
    }
    ul{
        display:flex;
        align-items: center;
        justify-content:center;
        gap: 40px;
        font-size: 17px;
        list-style:none;
        li 
        a{
            position: relative;
            color: rgb(229, 238, 247);
            font-weight: 450;
            text-decoration: none;

        }
    }
    .Home {
    .home-info {
            display: flex;
            align-items: center;
            justify-content:center;

            .left {
                flex: 1;

            } 

            h3 {
                font-size: 2,5em;
             font-weight: bold;
             letter-spacing: 5px;
             color: var(--test-color);
             border-radius: 25px;
            
            }
            h1 {
                font-size: 4em;
                color:var(--test-color);
                margin: 10px 0;
            }
             P {
                width: 90%;
                font-weight: 400;
                line height: 25px;
                mask-border: 50px;
                margin-bottom: 15px;
                text-align: justify;
             }
             .social {
                display: flex;
                align-items: center;
                gap: 22px;
                margin: 25px 0;
             }
             a{
                background: transparent;
                color: rgb(175, 91, 253);
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 4s ease;
            border: 2px solid var(--color)
            }
            i {
                font-size: 23px;
            }
        }
    }
    .btn {
       display: flex;
        text-align: center;
        margin: 25px 0;
    }
    button {
        font-size: 15px;
        font-weight:600;
        padding:12px 24px;
        background: transparent;
        cursor: pointer;
        /*transition: 3s ease ease-in;*/
    }
    .profile{
        text-align:right;
        img {
            height: 450px;
            width: 450px;
            object-fit: cover;
            object-position: top;
            background: var(--test-color);
            border: 3px;
            box-shadow: 0 0 40px var(--test-color);
            cursor: pointer;
            transition: 3s ease;
        }

    }
    .about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1.5rem;
    }
    .about-img img {
        padding-bottom: 50%;
        max-width: 550px;
        height: auto;
        width: 100%;
        border-radius: 8px;
    }
    .about-text h2{
        font-size: 60px;
        color: white;
    }
    .about-text h2 span{
        color: aqua;
    }
    .about-text h4{
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        line-height:1.7;
        margin: 15px 0 30px;
    }
    .about-text p{
        color: aliceblue;
        font-size: 18px;
        margin-bottom: 4rem;

    }
    section{
        display:block;
        flex-wrap:wrap;
    }
    .container1{
        width: 600px;
        height: 500px;
        padding: 75px 90px;
        margin-left: 120px;
    
    }
    .heading1{
        text-align: center;
        text-decoration: underline;
        text-decoration-thickness:5px;
        margin-bottom: 50px;
        text-decoration-color: azure;
        font-size: 50px;
        color:white;
        padding-right: 70px;
    }
    .about-skills h1{
font-size: 60px;
color: #fff;
display: flex;
text-align: center;
padding-left: 120px;
}
.about-skills h1 span{
    color: aqua;
}
.bar{
    font-weight: 600;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow:  5px 10px 15px;
    color: aqua;
}
h2{
    color: aqua;
    font-style: italic;
    font-size: 40px;
    span{
        color: #fff;
        font-size: 45px;

    }
}
h3{
    font-size: 30px;
    font-weight: 600;
    color: rgb(13, 235, 31);
}
p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
}
.contact-list li {
    margin-bottom: 10px;
    display: block;
    box-shadow: 2px 4px 5px;
    color:whitesmoke;
    font-size: 20px;
    font-weight: 600;
}
footer{
    font-size: 15px;
    color:rgb(230, 35, 197);
    font-weight: 350;
}